
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
    background-color: #fff;
    background: url( "bg-texture2.png" );
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
}

a, a:visited {
    color: #ccb2ef;
    font-weight: bold;
}

a:hover {
    color: #fff;
}

#table-of-contents {
    border: solid 2px #fff;
    background: rgba( 208, 174, 255, 0.2 );
    padding: 10px;
    margin: 20px;
}

#table-of-contents li {
    margin: 10px 0;
}

#content {
    background: rgba( 43, 12, 84, 0.5 );
    padding: 20px;
    width: 90%;
    max-width: 90%;
}
